<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mobile Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style-mobile.css">

    <!-- Standardne biblioteke -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/angular/angular.min.js"></script>
    <script src="/angular-route/angular-route.min.js"></script>

    <!-- Custom JS skripte -->
    <script src="/js/script.js"></script>

    <!-- Angular fajlovi -->
    <script src="/ang/app.js"></script>
    <script src="/ang/config/routeConfig.js"></script>
    <script src="/ang/filters/hasImageFilter.js"></script>
    <script src="/ang/filters/nameFilter.js"></script>
    <script src="/ang/filters/priceFilter.js"></script>
    <script src="/ang/factories/searchBoxFactory.js"></script>
    <script src="/ang/controllers/searchBoxController.js"></script>
    <script src="/ang/controllers/listPhoneController.js"></script>
    <script src="/ang/controllers/detailPhoneController.js"></script>
</head>
<body ng-app="cmscApp">
<div id="search-box" class="col-md-12 col-sm-12 col-xs-12" ng-controller="searchBoxController as sbc">
    <div class="row">
        <input type="text" class="form-control" placeholder="npr. Samsung Galaxy S4" id="phoneName"
               ng-model="searchInfo.phoneName" ng-keypress="sbc.submitUrl($event, '/')"
               autofocus />
    </div><!-- /.row -->
    <div class="row">
        <input type="text" class="form-control" placeholder="npr. Beograd"
               ng-model="storeCityValue" />
    </div><!-- /.row -->
    <div class="row">
        <span id="more-info-btn" class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </div><!-- /.row -->
    <div id="search-more-info" class="row hidden col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <label for="price-from">Cena od</label> <input id="price-from" type="number" class="form-control small" placeholder="0"
                                                      ng-model="searchInfo.price.from" ng-keypress="sbc.submitUrl($event, '/')" />
            <label for="price-to">do</label> <input id="price-to" type="number" class="form-control small" placeholder="999"
                                                    ng-model="searchInfo.price.to" ng-keypress="sbc.submitUrl($event, '/')" />
        </div><!-- /.row -->
        <div class="row">
            <p><label class="checkbox-inline"><input type="checkbox" class="checkbox"
                                                     ng-model="searchInfo.imageRequired" />Mora imati sliku</label></p>
        </div><!-- /.row -->
    </div><!-- /.row.hidden -->
</div><!-- /#search-box -->
<div ng-view>
    <!-- angular-view -->
</div>
</body>
</html>