<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mobile Store</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css">

    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/angular/angular.min.js"></script>
</head>
<body ng-app="eCommerceApp">
<h1>Welcome to the jungle!</h1>
<div id="search-box" ng-controller="searchBoxController as sb">
    <div class="row">
        <input type="text" class="form-control" placeholder="eg. Samsung Galaxy S4"
               ng-model="searchPhoneValue" />
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row">

    </div>
</div>
</body>
</html>