body {
    height: 100%;
    width: 100%;
    background: url('/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}
#search-box {
    background-color: red;
    padding: 2% 5%;
}
    #search-box input {
        margin-bottom: 2%;
    }
    .rotated {
        transform: rotate(180deg);
    }
    #more-info-btn {
        transition: transform .3s;
    }
    #search-more-info {
        transition: height 2s;
        overflow: hidden;
        height: 0;
    }
        #search-more-info.shown {
            height: 3%;
        }
        .form-control.small {
            width: 30%;
            display: inline-block;
        }
#results {
    background-color: white;
    padding-top: 20px;
}
    .result {
        display: flex;
        margin-bottom: 60px;
        border: 1px solid rgba(169, 169, 169, 1);
        border-top: none;
        border-radius: 0 0 3% 3%;
        box-shadow: 0 7px 10px #1b6d85;
        padding: 5%;
    }
        .main-image {
            width: 15%;
        }
            .main-image > img {
                padding-top: 2em;
                max-width: 100%;
            }
        .info {
            width: 60%;
            margin: 0 5%;
        }
            .info table tr {
                border-bottom: 1px solid #ABABAB;
                margin: 5px 0;
            }
        .extra {
            width: 15%;
        }
            .extra div {
                margin-top: 40px;
            }
            .grade > img {
                max-width: 10%;
            }
#details {
    background-color: white;
}
    .small-info {
        width: 20%;
        float: left;
    }
        .small-info img {
            max-width: 100%;
        }
    .main-info {
        float: left;
    }
    .clear {
        clear: both;
    }
#error-details {
    background-color: white;
}