body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: url('../images/main/background.jpg');
  background-size: auto 600%;
  background-position: center top;
  background-repeat: no-repeat;
}
.search-box {
	padding-top: 10px;
	background-color: #61ABD2;
	margin-bottom: 0;
	transition: top .5s;
	z-index: 1;
}
	.shrinked {
		overflow: hidden;
		transition: height .5s;
		-webkit-transition: height .5s;
	}
		.up {
			height: 0;
		}
		.down {
			height: 110px;
		}
	.glyphicon {
		transition: transform .5s;
		-webkit-transition: transform .5s;
	}
	.glyphicon:hover {
		cursor: default;
	}
		.rotated {
			transform: rotate(180deg);
		}
	.form-control.small {
		display: inline;
		width: 30%;
	}
.results {
	background-color: white;
	z-index: 0;
}
	.show {
		animation-name: showEllegant;
		animation-duration: .5s;
		animation-iteration-count: 1;
	}
	.result {
		border 1px solid #CECECE;
		box-shadow: 0 0 2px #90CFD7;
		margin: 20px 0;
		padding: 5%;
		display: ;
	}
		.description.photo {
			text-align: center;
		}
			.description.photo img {
				max-width: 100%;
			}

	.btn.btn-default.vise-detalja {
		border-radius: 0;
	}

@keyframes showEllegant {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}