<div class="container results col-md-12 col-sm-12 col-xs-12" ng-class="{hidden: mobileList.getUrl() === '/'}">
	<div class="result col-md-12 col-sm-12 col-xs-12" ng-repeat="phone in mobileList.mobilePhones.data">
		<div class="description photo col-md-3 col-sm-3 col-xs-3">
			<img src="/images/phone-main/{{ phone.mainImage }}" alt="Mobile Image {{ phone.mainImage }}">
			<div class="description-inner col-md-12 col-sm-12 col-xs-12">
				<img src="/images/main/star-temp.png" alt="star-temp" width="10%" />
				<img src="/images/main/star-temp.png" alt="star-temp" width="10%" />
				<img src="/images/main/star-temp.png" alt="star-temp" width="10%" />
				<img src="/images/main/star-temp.png" alt="star-temp" width="10%" />
				<img src="/images/main/star-temp.png" alt="star-temp" width="10%" />
			</div>
			<div class="description-inner col-md-12 col-sm-12 col-xs-12">
				<a ng-href="phone/{{ phone.slug }}">Vidi još</a>
			</div>
		</div><!-- /description /photo -->
		<div class="description col-md-9 col-sm-9 col-xs-9">
			<h2>{{ phone.manufacturer }} <small>{{ phone.name }}</small></h2>
			<div class="description-inner col-md-6 col-sm-12 col-xs-12">
				<table>
					<tr>
						<td class="col-md-6 col-sm-6 col-xs-6">Težina</td>
						<td class="col-md-6 col-sm-6 col-xs-6">{{ phone.weight }}g</td>
					</tr>
					<tr>
						<td class="col-md-6 col-sm-6 col-xs-6">Dimenzije</td>
						<td class="col-md-6 col-sm-6 col-xs-6">{{ phone.dimensions }}mm</td>
					</tr>
					<tr>
						<td class="col-md-6 col-sm-6 col-xs-6">Rezolucija</td>
						<td class="col-md-6 col-sm-6 col-xs-6">{{ phone.resolution }}px</td>
					</tr>
				</table>
			</div><!-- /description-inner -->
			<div class="description-inner col-md-6 col-sm-12 col-xs-12">
				<table>
					<tr>
						<td class="col-md-6 col-sm-6 col-xs-6">Procesor</td>
						<td class="col-md-6 col-sm-6 col-xs-6">{{ phone.processor }}</td>
					</tr>
					<tr>
						<td class="col-md-6 col-sm-6 col-xs-6">Operativni Sistem</td>
						<td class="col-md-6 col-sm-6 col-xs-6">{{ phone.os + ' ' + phone.version }}</td>
					</tr>
					<tr>
						<td class="col-md-6 col-sm-6 col-xs-6">RAM/HDD</td>
						<td class="col-md-6 col-sm-6 col-xs-6">{{ phone.ram }}MB/{{ phone.hdd }}MB</td>
					</tr>
				</table>
			</div><!-- /description-inner -->
		</div><!-- /description -->
	</div><!-- /result -->
</div>