<% 
var status = error.status || 500;
var isProd = Object.keys(error).length === 0;
%>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= status %></title>
	<link rel="stylesheet" href="stylesheets/error-style.css" />
</head>
<body>
	<div class="error-container">
		<h2><%= status || 500 %></h2>
		<div class="more-info">
			<% if(500 == status && !isProd) { %> <img src="images/error/500-1.jpg" alt="500-1" width="100%"> <% }
			if(!isProd) { %>
				<h3>More info:</h3>
				<pre>
<%= message %>
				</pre>
			<% } if(404 == status) { %>
				<img src="images/error/404.png" alt="404" width="100%">
			<% } else { %>
				<img src="images/error/500-2.jpg" alt="500-2" width="100%">
			<% } %>
		</div>
	</div>
</body>
</html>