<div class="container ">
    <h3 ng-show="errorMsg">{{ errorMsg }}</h3>
    <div id="results" class="col-md-12 col-sm-12 col-xs-12">
        <div class="result" ng-repeat="phone in phoneList">
            <div class="column main-image">
                <img src="/images/main/{{ phone.mainImage }}" alt="{{ phone.mainImage }}" />
            </div>
            <div class="column info">
                <h2>{{ phone.manufacturer }} <small>{{ phone.name }}</small></h2>
                <table>
                    <tr>
                        <td>Procesor:</td>
                        <td>{{ phone.processor }}</td>
                    </tr>
                    <tr>
                        <td>Baterija:</td>
                        <td>{{ phone.battery }}</td>
                    </tr>
                    <tr>
                        <td>Rezolucija:</td>
                        <td>{{ phone.resolution }}</td>
                    </tr>
                    <tr>
                        <td>Veličina ekrana:</td>
                        <td>{{ phone.screenSize }} inča</td>
                    </tr>
                    <tr>
                        <td>RAM memorija:</td>
                        <td>{{ phone.ram }}MB</td>
                    </tr>
                    <tr>
                        <td>Operativni sistem:</td>
                        <td>{{ phone.os }} {{ phone.version }}</td>
                    </tr>
                </table>
            </div>
            <div class="column extra">
                <a href="/{{ phone.slug }}">Pročitaj još</a>
                <div class="grade">
                    <img src="/images/extra/star-filled.png" alt="star-filled">
                    <img src="/images/extra/star-filled.png" alt="star-filled">
                    <img src="/images/extra/star-filled.png" alt="star-filled">
                    <img src="/images/extra/star-filled.png" alt="star-filled">
                    <img src="/images/extra/star-filled.png" alt="star-filled">
                </div>
            </div>
        </div>
    </div>
</div>