<div class="container hidden">
    <div id="results" class="col-md-12 col-sm-12 col-xs-12">
        <h3 ng-show="errorMsg">{{ errorMsg }}</h3>
        <div class="result" ng-repeat="phone in phoneList | hasImageFilter:listInfo.imageRequired
                                                          | nameFilter:listInfo.phoneName
                                                          | priceFilter:listInfo.price.from:listInfo.price.to">
            <div class="column main-image" ng-init="image = phone.mainImage == '' ? 'no-photo.jpg' : phone.mainImage">
                <img src="/images/main/{{ image }}" alt="{{ image }}" />
            </div>
            <div class="column info">
                <h2>{{ phone.manufacturer }} <small>{{ phone.name }}</small></h2>
                <table>
                    <tr>
                        <td>Procesor:</td>
                        <td>{{ phone.basicInfo.processor }}</td>
                    </tr>
                    <tr>
                        <td>Baterija:</td>
                        <td>{{ phone.basicInfo.battery }}</td>
                    </tr>
                    <tr>
                        <td>Rezolucija:</td>
                        <td>{{ phone.basicInfo.resolution }}</td>
                    </tr>
                    <tr>
                        <td>Veličina ekrana:</td>
                        <td>{{ phone.basicInfo.screenSize }} inča</td>
                    </tr>
                    <tr>
                        <td>RAM memorija:</td>
                        <td>{{ phone.componentInfo.ram }}MB</td>
                    </tr>
                    <tr>
                        <td>Operativni sistem:</td>
                        <td>{{ phone.componentInfo.os }} {{ phone.componentInfo.version }}</td>
                    </tr>
                </table>
            </div>
            <div class="column extra">
                <div>
                    <a ng-href="/{{phone.slug}}">Pročitaj još</a>
                    <div class="grade">
                        <img src="/images/extra/star-filled.png" alt="star-filled">
                        <img src="/images/extra/star-filled.png" alt="star-filled">
                        <img src="/images/extra/star-filled.png" alt="star-filled">
                        <img src="/images/extra/star-filled.png" alt="star-filled">
                        <img src="/images/extra/star-filled.png" alt="star-filled">
                    </div>
                    <h3>{{ phone.price }}&euro;</h3>
                </div>
            </div>
        </div>
    </div>
</div>